{% extends "puppysearch/layout.html" %} {%load static%}
<html lang="en">

<head>
    <link href="{% static 'puppysearch/styles.css' %}" rel="stylesheet">
</head>

{% block body %}
<h3 class="color_heading">Search Puppies by Location </h3><hr>
    <ul class="locations_list">
        {%for location in locations%}
            <li> <a class="color_link" href = "{% url 'show_location_listings' location.id %}"> {{location.city}}, {{location.state}} </li></a> 
        {%endfor%}
    </ul>
    <script src=" {% static 'puppysearch/script.js' %} "></script>
</html>
{% endblock %}
    